.button {
    height: 3.0625rem;
    width: 3.0625rem;
    border: 0.125rem solid rgba(255, 255, 255, 0.1);
    border-radius: 1.5313rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    right: 4px;
    top: 3px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #C1575A;
    z-index: 1;
}
