.background {
    position: relative;
    display: flex;
    height: 100%;
    width: calc(100% - 1.875rem);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.9375rem;
    margin: 0.9375rem 0.9375rem 0 0.9375rem;
    background-color: transparent;
    overflow: hidden;
}

.upperSection {
    width: 100%;
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    gap: 0.8125rem;
}

.game {
    flex-shrink: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 3.4375rem;
    gap: 0.625rem;
    margin-bottom: 6.25rem;
}