.background {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.image {
    height: 58px;
    width: 58px;
    border-radius: 14px;
}

.textContainer {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.title {
    font-size: 14px;
    font-weight: 600;
    color: #8C8C8C;
}

.price {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Bebas Neue';
    color: #FFFFFF;
    line-height: normal;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.levelWrapper {
    position: relative;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.levelContainer {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: black;
}

.button {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 9px;
}