.background {
    position: relative;
    width: 100%;
    padding: 1.5625rem 1.25rem 1.25rem 1.25rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1.375rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.25rem;

    overflow: hidden;
    background-image: url('/account-wallet-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.balanceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.625rem;
}

.balanceContainer > h6 {
    font-size: 0.75rem;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 0.7;
}

.balance {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.0938rem;
}

.balance > h5 {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: 'Bebas Neue';
    color: #FFFFFF;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4375rem;
}
