.background {
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 14px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}