.background {
    width: 100%;
    border-radius: 12px;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 2.4375rem;
    width: 2.4375rem;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.text {
    margin-left: 0.625rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #8E8E8E;
}

.priceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.price {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Bebas Neue';
    color: #D2F7B6;
    line-height: normal;
}