.background {
    left: 1.5625rem;
    right: 1.5625rem;
    bottom: 0.625rem;
    position: absolute;
    background-color: rgba(217, 217, 217, 0.05);
    min-width: calc(100%-3.125rem);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.8125rem 0.875rem;
    border-radius: 1rem;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.375rem;
    width: 2.375rem;
    border-radius: 2.375rem;
}

.itemActive {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.375rem;
    width: 2.375rem;
    background-color: white;
    border-radius: 2.375rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    opacity: 40%;
}

.iconActive {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 100%;
    color: black;
}