.background {
    position: absolute;
    padding: 0.7813rem;
    max-height: 6.25rem;
    width: calc(100% - 2.5rem);
    background-color: red;
    border-radius: 0.875rem;
    bottom: calc(var(--tg-content-safe-area-inset-bottom, 0rem) + 1.25rem);

    color: white;
    font-size: 0.875rem;
    font-weight: 400;
  
    /* allow wrapping and breaking long words */
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}
  
.background strong {
    font-weight: 600;
}