.app {
    top: var(--tg-content-safe-area-inset-top);
    bottom: var(--tg-content-safe-area-inset-bottom);
    min-height: calc(100vh - var(--tg-content-safe-area-inset-top) -  var(--tg-content-safe-area-inset-bottom));
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    font-size: 1.25rem;
}

.content {
    min-height: 100%;
    min-width: 100vw;
}